force-app/main/default/flows/Clasificar_caso_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deserializar_JSON</name>
        <label>Deserializar JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClasificadorCasosDeserializer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Tipo_de_servicio</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>Determinar_clasificaci_n_del_caso.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClasificadorCasosDeserializer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Area</assignToReference>
            <name>Area</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Opcion</assignToReference>
            <name>Opcion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Subcategoria</assignToReference>
            <name>Subcategoria</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TIpoServicio</assignToReference>
            <name>TipoServicio</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Determinar_clasificaci_n_del_caso</name>
        <label>Determinar clasificación del caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Determinar_clasificaci_n_del_caso</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Deserializar_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:subject</name>
            <value>
                <elementReference>Obtener_caso.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:description</name>
            <value>
                <elementReference>Obtener_caso.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Determinar_clasificaci_n_del_caso</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_a_Atenci_n_a_clientes</name>
        <label>Enrutar a Atención a clientes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obtener_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Atención a clientes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>caseChannel</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GbV000004uWhFUAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_a_Facturaci_n_y_pagos</name>
        <label>Enrutar a Facturación y pagos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obtener_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Facturación y pagos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>caseChannel</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GbV000004uWkTUAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Enrutar_a_Soporte</name>
        <label>Enrutar a Soporte</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obtener_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Soporte técnico</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>caseChannel</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GbV000004uWirUAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_cuenta_y_contacto_al_caso</name>
        <label>Asignar cuenta y contacto al caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obtener_caso.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_contacto_y_cuenta.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_caso.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_contacto_y_cuenta.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determinar_clasificaci_n_del_caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_tipificaci_n</name>
        <label>Asignar tipificación</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obtener_caso.Subcategor_a__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subcategoria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_caso.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TIpoServicio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_caso.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_caso.Opciones_de_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opcion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enrutar_a_cola</name>
        <label>Enrutar a cola</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Enrutar_a_Atenci_n_a_clientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Atenci_n_a_clientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atención a clientes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_a_Atenci_n_a_clientes</targetReference>
            </connector>
            <label>Atención a clientes</label>
        </rules>
        <rules>
            <name>Copy_2_of_Facturaci_n_y_pagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturación y pagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_a_Facturaci_n_y_pagos</targetReference>
            </connector>
            <label>Facturación y pagos</label>
        </rules>
        <rules>
            <name>Copy_2_of_Soporte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soporte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrutar_a_Soporte</targetReference>
            </connector>
            <label>Soporte</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hay_correo</name>
        <label>Hay correo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determinar_clasificaci_n_del_caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_hay_correo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_caso.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_caso.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_contacto_y_cuenta</targetReference>
            </connector>
            <label>Si hay correo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_encontr_contacto_creado</name>
        <label>Se encontró contacto creado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determinar_clasificaci_n_del_caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_se_encontro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_contacto_y_cuenta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_cuenta_y_contacto_al_caso</targetReference>
            </connector>
            <label>Si se encontro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_servicio</name>
        <label>Tipo de servicio</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Obtener_Atenci_n_a_clientes_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atenci_n_a_clientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atención a clientes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Atenci_n_a_clientes_record_type</targetReference>
            </connector>
            <label>Atención a clientes</label>
        </rules>
        <rules>
            <name>Facturaci_n_y_pagos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturación y pagos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_facturaci_n_y_pagos_record_type</targetReference>
            </connector>
            <label>Facturación y pagos</label>
        </rules>
        <rules>
            <name>Soporte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Area</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soporte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_soporte_record_type</targetReference>
            </connector>
            <label>Soporte</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clasificar caso email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clasificar caso email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Obtener_Atenci_n_a_clientes_record_type</name>
        <label>Obtener Atención a clientes record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_tipificaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Atenci_n_a_clientes</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_caso</name>
        <label>Obtener caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hay_correo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_contacto_y_cuenta</name>
        <label>Obtener contacto y cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_encontr_contacto_creado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_caso.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_facturaci_n_y_pagos_record_type</name>
        <label>Obtener facturación y pagos record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_tipificaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>	Facturaci_n_y_pagos</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_soporte_record_type</name>
        <label>Obtener soporte record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_tipificaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Soporte</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_caso</name>
        <label>Actualizar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enrutar_a_cola</targetReference>
        </connector>
        <inputReference>Obtener_caso</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_caso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Area</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opcion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subcategoria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TIpoServicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
